body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1, h2, div {
    text-align: center;
}

.container {
    display: flex;
    height: 60vmin;
    
}

.player1, .player2 {
    width: 20%;
    height: 100%;
    font-size: 2vmin;
    display: grid;

}

.player1{
    background-color: blue;
}
.player2{
    background-color: red;
}

.battleField {
    width: 60%;
    height: 100%;
    background-color: green;
    font-size: 3vmin;
    display: grid;

}

.duelBox, .thePot{
    background-color: white;
    padding: 4vmin;

}