body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1, h2, div {
    text-align: center;
}

.container {
    display: flex;
    height: 70vmin;
    
}

.player1, .player2 {
    width: 20%;
    height: 100%;
    font-size: 2vmin;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border-radius: 25px;
    margin: 1vmin;
    

}

.player1{
    background-color: blue;
}
.player2{
    background-color: red;
}

#p1cards, #p2cards, #p1duelBox, #p2duelBox {
    padding-top: 0vmin;
}

.battleField {
    width: 60%;
    height: 100%;
    background-color: green;
    font-size: 3vmin;
    display: grid;
    border-radius: 25px;
    margin: 1vmin;


}

.cardDisplay {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 35vmin;
}


