body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1, h2, div {
    text-align: center;
}

.container {
    display: flex;
    
}

.player1, .player2 {
    width: 20%;
    height: 100%;
    background-color: blue;

}

.battleField {
    width: 60%;
    height: 100%;
    background-color: green;


}